.ipynb_checkpoints/
.ipynb_checkpoints

# Ignore files without an extension inside dsa/ and its subdirectories
dsa/**/[!.]*

# Allow directories inside dsa/
!dsa/**/

# Allow C source files explicitly
!dsa/**/*.c

# Allow pdf source files explicitly
!dsa/**/*.pdf
